.gb-grid {
    width: 100%;
    overflow: hidden;
}
.gb-grid table {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.gb-vertical-label {
    display: none;
}

.gb-layout-vertical table,
.gb-layout-vertical thead,
.gb-layout-vertical tbody,
.gb-layout-vertical th,
.gb-layout-vertical tr,
.gb-layout-vertical td {
    display: block;
}

.gb-layout-vertical td {
    display: block;
    position: relative;
    width: 100%;
}

.gb-layout-vertical thead {
    display: none;
}

.gb-layout-vertical .gb-vertical-label {
    display: inline;
}
.gb-layout-vertical .gb-hidden,
.gb-hidden {
    display:none;
}

.gb-layout-vertical .gb-data-expand .gb-hidden {
    display: block;
}

.gb-additional-data td {
    position: relative;
    overflow: visible;
}

.gb-layout-vertical .gb-additional-data {
    display: none;
}

.gb-data-block {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #00B0D8;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 5px;
}

.gb-row-selected td {
    background-color: #cccccc;
}

.gb-clear-both {
    clear:both;
}

.gb-header {
    border-bottom:1px solid #DBDBDB;
    font-family:'Helvetica Neue', 'Verdana', 'Tahoma', 'Arial';
    font-size:11px;
    padding:3px;
    padding-bottom:10px;
}

.gb-footer {
    border-top:1px solid #DBDBDB;
    font-family:'Helvetica Neue', 'Verdana', 'Tahoma', 'Arial';
    font-size:11px;
    padding:3px;
    padding-top:10px;
    min-height: 24px;
}

.gb-header .gb-head-title {
    font-size:14px;
    font-weight:bold;
    border-bottom:1px solid #DBDBDB;
    margin-bottom:10px;
    padding-left:5px;
}

.gb-data-table {
    padding:0px;
    border-spacing:0px;
    border-collapse: collapse;
    width:100%;
    font-family:'Helvetica Neue', 'Verdana', 'Tahoma', 'Arial';
    font-size:11px;
}

.gb-data-table .gb-data-table-header-row th {
    padding:8px 10px;
    border-bottom:1px solid #DBDBDB;
    text-align:left;
    vertical-align:top;
}

.gb-data-table .gb-data-table-header-row th a.gb-column-sort {
    text-decoration: none;
    color:#000000;
}

.gb-data-table .gb-data-table-header-row th span.gb-title {
    display:block;
}

.gb-data-table .gb-data-table-header-row th input.filter {
    border:1px solid #DBDBDB;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -html-border-radius:2px;
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAA0ElEQVR42mNgQAITJkyQmzFjxlYgXjh9+vQGIF4FxDnz58/nQFbHMHHiRGegosbOzk7e+vp6FhANVNgDFAuHK5o0aRI7UOAekBZF1gxVvA4u0N/fLwBUeIUBDYBMBio8gCIAVPhy5syZksgKgTbwgdyKohso4A5U3DV16lRZEH/KlCnyQLGp06ZN80NWpANUdAPoIQ8gfQuI7wJNPw8UNwTaxgRSIA3EFUDBr0CTrKDOYAKyeVatWsUMNwmq+ydQYT0DPgBUdAKIi4CmsOFTBwCpxnRsti0N2wAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: 5px 3px;
    padding:1px 1px 1px 17px;
    width:95%;
}

.gb-data-table .gb-data-row.alt {
    background-color:#F5F5F5;
}

.gb-data-table .gb-data-row .gb-data-cell {
    padding:5px 10px;
    border-bottom:1px solid #DBDBDB;
    cursor: pointer;
    width: 100%;
}

.gb-data-table .gb-data-row .gb-data-cell {
    width: auto;
}

.gb-data-table .gb-data-row .gb-data-cell.sorting {
    background: rgba(223, 223, 223, .5);
}

.gb-data-table .gb-data-row .gb-data-cell .gb-cell-min-height {
    min-height: 17px;
}

.gb-data-table tr th:not(:last-child).sorting_asc,
.gb-data-table tr th:not(:last-child).sorting_desc,
.gb-data-table tr td:not(:last-child).sorting {
    border-right: 1px solid #ccc;
}

.gb-data-table tr th:not(:first-child).sorting_asc,
.gb-data-table tr th:not(:first-child).sorting_desc,
.gb-data-table tr td:not(:first-child).sorting {
    border-left: 1px solid #ccc;
}

.gb-data-table tr th:not(:last-child).sorting_asc {
    background: url('images/sort_asc.png') no-repeat center right;
}

.gb-data-table tr th:not(:last-child).sorting_desc {
    background: url('images/sort_desc.png') no-repeat center right;
}

.gb-data-table table {
    /* Prevent data highlighting for double click */
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10  */
    -o-user-select: none;
    user-select: none;
}

.gb-data-table .gb-data-row:last-child .gb-data-cell {
    border-bottom:0px;
}

/*
#   PAGINATION
*/

.gb-pagination {
    float: right;
}

.gb-pagination ul {
    margin: 0px;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.gb-pagination ul > li {
    display: inline;
}

.gb-pagination ul > li > a {
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 5.5px 10px;
    font-size: 13px;
}

.gb-pagination .gb-current {
    line-height: 20px;
    text-decoration: none;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    color: #999999;
    cursor: default;
    padding: 5.5px 10px;
    font-size: 13px;;
}

.gb-pagination ul > li > a:hover,
.gb-pagination ul > li > a:focus {
    background-color: #f5f5f5;
}
.gb-pagination ul > li > a.gb-first-disabled,
.gb-pagination ul > li > a.gb-first-disabled:hover,
.gb-pagination ul > li > a.gb-first-disabled:focus,
.gb-pagination ul > li > a.gb-previous-disabled,
.gb-pagination ul > li > a.gb-previous-disabled:hover,
.gb-pagination ul > li > a.gb-previous-disabled:focus,
.gb-pagination ul > li > a.gb-next-disabled,
.gb-pagination ul > li > a.gb-next-disabled:hover,
.gb-pagination ul > li > a.gb-next-disabled:focus,
.gb-pagination ul > li > a.gb-last-disabled,
.gb-pagination ul > li > a.gb-last-disabled:hover,
.gb-pagination ul > li > a.gb-last-disabled:focus {
    color: #999999;
    cursor: default;
    background-color: transparent;
}

.gb-pagination ul > li:first-child > a {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}

.gb-pagination ul > li:last-child > a {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
}

.gb-rows-per-page {
    display: inline-block;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 4px 1px;
    font-size: 13px;
    margin-top: 4px;
    margin-left: 2.5px;
}

.gb-pagination > select {
    width: auto !important;
    height: auto !important;
}

.gb-pages {
    margin: 3px 0;
    text-align:center;
}

/*
**  Cap Divs
*/
.gb-cap-left {
    display: inline-block;
    white-space: nowrap;
    float: left;;
}

.gb-cap-mid {
    display: inline-block;
    white-space: nowrap;
    margin-left: 20px;
}

.gb-cap-mid.mobile {
    margin-left: 40px;
}

.gb-cap-right {
    display: inline-block;
    white-space: nowrap;
    float: right;
}

/*
#   BUTTONS
*/
.menuButton {
    display: none;
}

.gb-button-box {
    float:left;
}

.gb-button-box .gb-button {
    background:#FFFFFF;
    border:none !important;
    vertical-align:middle;
    margin: 4px 4px 4px 4px;
    padding:2px;
    box-shadow: none;
    -moz-box-shadow: none;
    cursor:pointer;
}

.gb-button-box.mobile {
    position: absolute;
    z-index: 580;
    bottom: 3px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.gb-button.hidden {
    display: none;
}

.gb-button.mobile {
    display: block;
    border-bottom: 1px solid #dddddd !important;
}

.gb-button-box .gb-button img {
    vertical-align: middle;
}

/* styles for drop up options - built on bootstrap dropdown menu css */
.gb-drop-up {
    top: auto;
    bottom: 40px;
}


/* styles to support the column picker functionality */
.gb-column-picker {
    z-index: 999;
    background-color: #f5f5f5;
    padding: 0;
    position: absolute;
    bottom: -20px;
    left: 50px;
    border: 1px solid #ccc;
    width: 350px;
    max-width: 80%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.gb-column-picker:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 20px;
    left: -16px;
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:15px solid #ccc;
}
.gb-column-picker:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 20px;
    left: -15px;
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:15px solid #f5f5f5;
}
.gb-column-picker h4 {
    padding: 4px 10px;
}
.gb-column-picker > div > button {
    margin: 5px 10px 0 0;
}

.gb-column-picker hr {
    color: #acacac;
    border-bottom: 1px solid #cfcfcf;
    margin: 4px 0;
}
.gb-column-picker ul {
    max-height: 160px;
    margin: 0;
    padding: 10px 0;
    overflow-y: scroll;
    font-size: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.gb-column-picker ul li {
    display: inline-block;
    width: 50%;
    min-width: 150px;
    font-size: 12px;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="checkbox"].gb-column-picker-cb {
    margin: 0 3px 0 0;
}

.gb-column-picker-li {
    list-style-type: none;
    padding: 2px 0;
}

/* styles to support the drag-n-drop columns */
.gb-placeholder {
    background-color: #EEEEEE;
}
