.gb-grid {
    width: 100%;
    background-color: #66FFCC;
    overflow: hidden;
}
.gb-grid table {
    width: 100%;
}
.gb-grid table thead tr th {
    background-color: silver;
}

.gb-layout-vertical thead {
    display: none;
}

.gb-layout-vertical tr {
    display: inline;
    clear: both;
}

.gb-layout-vertical td {
    display: inline;
}
.gb-layout-vertical td:after {
    clear: both;
}

