.gb-grid {
    width: 100%;
    overflow: hidden;
}
.gb-grid table {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.gb-vertical-label {
    display: none;
}

.gb-layout-vertical table,
.gb-layout-vertical thead,
.gb-layout-vertical tbody,
.gb-layout-vertical th,
.gb-layout-vertical tr,
.gb-layout-vertical td {
    display: block;
}

.gb-layout-vertical td {
    display: block;
    position: relative;
    width: 100%;
}

.gb-layout-vertical thead {
    display: none;
}

.gb-layout-vertical .gb-vertical-label {
    display: inline;
}
.gb-layout-vertical .gb-hidden,
.gb-hidden {
    display:none;
}

.gb-layout-vertical .gb-data-expand .gb-hidden {
    display: block;
}

.gb-data-expand td {
    /*background-color: #FAFAFA !important;*/
}

.gb-data-expand .gb-data-cell:not(.gb-hidden) {
    /*border-left: 1px solid #DBDBDB !important;*/
}

.gb-data-floater {
    position: absolute;
    font-family:'Verdana', 'Tahoma', 'Arial';
    font-size:12px;
    background: #eee;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}
/* top */
.gb-data-floater:before {
    position: absolute;
    top: -7px;
    left: 28px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #eee;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.gb-data-floater:after {
    position: absolute;
    top: -6px;
    left: 29px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #eee;
    border-left: 6px solid transparent;
    content: '';
}

/* left */
.gb-data-floater.left:before {
    border-top: 7px solid transparent;
    border-right: 7px solid #eee;
    border-bottom: 7px solid transparent;
    border-right-color: rgba(0, 0, 0, 0.2);
    left: -14px;
    top: 20px;
}

.gb-data-floater.left:after {
    border-top: 6px solid transparent;
    border-right: 6px solid #eee;
    border-bottom: 6px solid transparent;
    left: -12px;
    top: 21px;
}

.gb-layout-vertical .gb-data-floater {
    display: none;
}

.gb-row-selected td {
    background-color: #cccccc;
}

.gb-clear-both {
    clear:both;
}

.gb-header {
    border-bottom:1px solid #DBDBDB;
    font-family:'Verdana', 'Tahoma', 'Arial';
    font-size:12px;
    padding:3px;
    padding-bottom:10px;
}

.gb-footer {
    border-top:1px solid #DBDBDB;
    font-family:'Verdana', 'Tahoma', 'Arial';
    font-size:12px;
    padding:3px;
    padding-top:10px;
}

.gb-header .gb-head-title {
    font-size:18px;
    font-weight:bold;
    border-bottom:1px solid #DBDBDB;
    margin-bottom:10px;
    padding-left:5px;
}

.gb-data-table {
    padding:0px;
    border-spacing:0px;
    border-collapse: collapse;
    width:100%;
    font-family:'Verdana', 'Tahoma', 'Arial';
    font-size:12px;
}

.gb-data-table .gb-data-table-header-row th {
    padding:8px 10px;
    border-bottom:1px solid #DBDBDB;
    text-align:left;
}

.gb-data-table .gb-data-table-header-row th a.gb-column-sort {
    text-decoration: none;
    color:#000000;
}

.gb-data-table .gb-data-table-header-row th span.gb-title {
    display:block;
}

.gb-data-table .gb-data-table-header-row th input.filter {
    border:1px solid #DBDBDB;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -html-border-radius:2px;
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAA0ElEQVR42mNgQAITJkyQmzFjxlYgXjh9+vQGIF4FxDnz58/nQFbHMHHiRGegosbOzk7e+vp6FhANVNgDFAuHK5o0aRI7UOAekBZF1gxVvA4u0N/fLwBUeIUBDYBMBio8gCIAVPhy5syZksgKgTbwgdyKohso4A5U3DV16lRZEH/KlCnyQLGp06ZN80NWpANUdAPoIQ8gfQuI7wJNPw8UNwTaxgRSIA3EFUDBr0CTrKDOYAKyeVatWsUMNwmq+ydQYT0DPgBUdAKIi4CmsOFTBwCpxnRsti0N2wAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: 5px 3px;
    padding:1px 1px 1px 17px;
    width:95%;
}

.gb-data-table .gb-data-row.alt {
    background-color:#F5F5F5;
}

.gb-data-table .gb-data-row .gb-data-cell {
    padding:5px 10px;
    border-bottom:1px solid #DBDBDB;
}

.gb-data-table .gb-data-row:last-child .gb-data-cell {
    border-bottom:0px;
}

/*
#   PAGINATION
*/

.gb-pagination {
    float:right;
    text-align: right;
}

.gb-pagination ul {
    list-style: none;
    margin:0px;
    position: relative;
    float: right;
}

.gb-pagination ul li {
    display:inline-block;
    margin-left:7px;
    padding:5px;
    border:1px solid #DBDBDB;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -html-border-radius:4px;
    color:#666666;
    box-shadow: 1px 1px 1px #888888;
    -moz-box-shadow: 1px 1px 1px #888888;
}

.gb-pagination ul li a {
    text-decoration: none;
    color:#000000;
}

.gb-pagination .gb-current {
    color:#58AEFF;
    font-weight:bold;
    border-color:#58AEFF;
}

.gb-pagination select {
    position: relative;
    float: right;
    font-size: 12px;
    margin-left:7px;
    margin-top: 5px;
}

.gb-pages {
    text-align:center;
}

/*
#   BUTTONS
*/
.gb-button-box {
    float:left;
}

.gb-button-box .gb-button {
    background:#FFFFFF;
    border:1px solid #dbdbdb;
    vertical-align:middle;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -html-border-radius:5px;
    margin-right:10px;
    padding:3px;
    box-shadow: 1px 1px 1px #888888;
    -moz-box-shadow: 1px 1px 1px #888888;
    cursor:pointer;
}

.gb-button-box .gb-button img {
    vertical-align: middle;
}
